$vw-viewport: 1920;
@function vw($font){
  $vw-context: $vw-viewport * 0.01 * 1px;
  @return $font / $vw-context * 1vw;
  @return $font;
}

.bouncing {
  background: #000;
  color: #fff;
  height: 100%;
  margin: 0;
  min-height: 100vh;
  overflow: hidden;
  position: relative;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
  &-animation {
      display: block;
      left: 0;
      position: absolute;
      top: 0;
      z-index: 0;
    svg {
      display: block;
      width: vw(351px);
      height: vw(155px);
    }
    
    .logo-color {
      fill: #fff;
    }
  }
  
  &-text {
    font-style: normal;
    font-weight: normal;
    font-size: 33.1262px;
    line-height: 141.19%;
    color: #FFFFFF;
    max-width: 1200px;
    padding: 127px 15px;
    margin-left: auto;
    margin-right: auto; 
    width: 100%;
    align-self: flex-end;
    position: relative;
    z-index: 1;
    a {
      color: #fff;
    }
  }
}


@import 'info/fonts';
@import 'info/reset';
@import 'info/intlTelInput';
@import 'info/main';

@media screen and (min-width: 1155px) and (max-width: 1920px) {
  .h1 {
    font-size: 4.167vw;
  }
  .h2 {
    font-size: 2.865vw;
    margin-bottom: 2.500vw;
  }
  
  .footer:before, .orange-logo {
    width: calc(100% - 48px);
    max-width: 1556px;
  }
  
  .orange-logo  {
    margin-bottom: -18.750vw;
  }
}
