@import 'variables';

*{
  outline: none;
}
a:focus, a:hover, input:focus, input:hover {
  text-decoration: none;
  color: inherit;
}
body {
  @import 'MediaQueries/main';
  overflow-x: hidden;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9;
  padding-top: 24px;
  background-color: #f3f5f7;
  
  .container-fluid {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  
  .logo {
    max-width: 66px;
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px; 
    letter-spacing: 0.02em;
    text-transform: uppercase;
    display: block;
    text-decoration: none;
  }
  
  .nav-info {
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #090909;
    max-width: 120px;
    
    a {
      font-family: 'PF DinText Pro';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.02em;
      text-decoration-line: underline;
      text-transform: uppercase;
      color: #090909;
      margin-left: 24px;
    }
    
    &.full {
      max-width: inherit;
      display: flex;
      align-items: center;
    }
  }
  
  .lang {
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #090909;

  }
  
  .contacts {
    max-width: 170px;
    text-align: right;
    a {
      display: block;
      font-family: 'PF DinText Pro';
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
      letter-spacing: 0.02em;
      text-decoration-line: underline;
      text-transform: lowercase;
      color: #090909;
      margin-bottom: 4px;
      
      &.telegramm {
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        svg {
          margin-right: 8px;
          width: 16px;
          height: 16px;
        }
        span {
          text-decoration-line: underline;
        }
      }
      
      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  .location {
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    text-decoration-line: underline;
    text-transform: uppercase;
    color: #090909;
    transform: rotate(-90deg);
    position: fixed;
    bottom: 455px;
    right: 14px;
    transform-origin: bottom right;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    svg {
      margin-right: 14px;
      width: 14px;
      height: 21px;
      color: #090909
    }
  }
  
  .playlist {
    text-decoration: none;
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.02em;
    color: #090909; 
    position: fixed;
    bottom: 170px;
    right: 14px;
    transform-origin: bottom right;
    transform: rotate(-90deg);
    display: flex;
    align-items: center;
    z-index: 9; 
    svg {
      margin-right: 14px;
      color: #1ED760;
      height: 24px;
      width: 24px;
    }
  }
  
  .social {
    color: #090909;
    list-style: none;
    padding: 0;
    margin: 0;
    position: fixed;
    bottom: 130px;
    left: 24px;
    z-index: 9;
    li {
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0;
      }
      a {
        display: block;
        text-decoration: none;
        svg {
          width: 24px;
          height: 24px;
        }
      }
    }
  }
  
  .profile {
    font-family: 'PF DinText Pro';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
    color: #090909;
    position: fixed;
    bottom: 24px;
    left: 24px;
    z-index: 9;
    width: 90px;
    a {
      font-weight: 500;
    }
  }
}

.header {
  padding-top: 200px;
  padding-bottom: 257px;
  
  &-logo {
    list-style: none;
    padding: 0;
    margin: 40px -1rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    
    li {
      padding: 0 1rem;
      display: inline-flex;
      svg {
        display: inline-flex;
        max-height: 56px;
        max-width: 100%;
      }
    }
  }
  
  &-form {
    padding: 32px;
    max-width: 720px;
    background: #F0FE5C;
    backdrop-filter: blur(44px);
    
    .form-input {
      display: flex;
      margin-left: -4px;
      margin-right: -4px;
      input {
        display: block;
        background: #FFFFFF;
        margin: 0 8px;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.01em;
        color: #090909;
        border: 0;
        border-radius: 0; 
        box-shadow: 0 0;
        padding: 12px 16px;
        width: 100%;
      }
      
      .iti {
        width: 100%;
        font-family: 'Inter';
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
        letter-spacing: -0.01em;
        color: #090909;
      }
      
      .iti--allow-dropdown .iti__flag-container, .iti--separate-dial-code .iti__flag-container {
        left: 8px;
      }
      
      
    }
    
    .form-footer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-top: 26px;
      
      p {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: -0.01em;
        margin-right: 1rem;
        a {
          display: block;
        }
      }
      
    }
  }
}

.h1 {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 300;
  font-size: 80px;
  line-height: 100%;
  letter-spacing: 0.01em;
  color: #090909;
  margin: 0;
  span {
    display: block;
    font-weight: 700;
    letter-spacing: -0.02em;
  }
}

.hidden-svg {
  position: absolute;
  z-index: -99999;
  opacity: 0;
}

.h5 {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 140%;
  color: #090909;
  margin-bottom: 24px;
}

.order-btn {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: -0.01em;
  color: #FBFBFB;
  border: 0;
  padding: 12px 16px;
  background: #090909;
  cursor: pointer;
  transition: .3s;
  &:hover {
    transform: translateY(5%);
  }
}

.orange-logo {
  position: relative;
  z-index: -1;
  left: 50%;
  transform: translateX(-50%) translateY(-40%);
  margin-bottom: -40%;
  max-width: 1556px;
}

.section {
  padding: 240px 0;
  img {
    width: 100%;
  }
}

.h2 {
  font-family: 'PF DinText Pro';
  font-style: normal;
  font-weight: 400;
  font-size: 55px;
  line-height: 66px;
  letter-spacing: 0.02em;
  color: #090909;
  margin-bottom: 48px;
}

.project {
  &-1 {
    background: #F5FBFF;
  }
  &-2 {
    background: #06161C;
    .h2 {
      color: #FFFFFF;
    }
  }
  &-3 {
    background: #090909;
    .h2 {
      color: #FFFFFF;
    }
  }
  &-4 {
    background: #D6DAD6;
  }
  &-5 {
    background: #F7F1DD;
  }
}
